<style>
  div#div_navigate_index{ display:none; }
</style>    
<div class="container" style="margin-top:10px;">
        <div class="row conte">
          <div class="col-sm-12">
          　　<%- partial('_partial/article', {post: page, index: false}) %>
          </div>
        </div>
</div>

